Repository checkip/checkip: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, rubocop

eslint:
  run: yarn eslint {staged_files}

stylelint:
  run: yarn stylelint {staged_files}

rubocop:
  run: bundle exec rubocop --format simple --force-exclusion {staged_files}

feat(core): upgrade to ruby 3.3.5
  .ruby-version
  Gemfile.lock
Due: none

chore(infra): upgrade eslint to v9
  .eslintrc.yml
  eslint.config.js
  package.json
  yarn.lock
Due: eslint

chore(package): node install for lefthook
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Due: none

feat(core): upgrade to rails 7.2.1
  app/controllers/application_controller.rb
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/filter_parameter_logging.rb
  config/puma/development.rb
  public/406-unsupported-browser.html
Due: rubocop

chore: rename 406 error file
  public/406.html
Due: none

chore(package): update dependencies
  Gemfile
  Gemfile.lock
  yarn.lock
Due: none

chore(release): v0.18.0
  CHANGELOG.md
  config/initializers/version.rb
  package.json
Due: rubocop

chore(package): update bundler version
  Gemfile.lock
Due: none

chore(package): update dependencies
  Gemfile.lock
  yarn.lock
Due: none

chore(package): update dependencies
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Due: none

feat(core): upgrade to ruby 3.4.2
  .ruby-version
  Gemfile.lock
Due: none

feat(core): upgrade to rails 8.0
  Gemfile
  Gemfile.lock
  bin/bundle
  bin/dev
  bin/setup
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/assets.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/permissions_policy.rb
  config/puma/development.rb
  config/routes.rb
  public/400.html
  public/404.html
  public/406-unsupported-browser.html
  public/406.html
  public/422.html
  public/500.html
Due: rubocop

fix(core): remove wrong config entry
  config/environments/production.rb
Due: rubocop

chore: use rubocop plugins
  .rubocop.yml
Due: none

feat(core): replace mdc-web with tailwind
  Gemfile
  Gemfile.lock
  Procfile.dev
  eslint.config.js
  frontend/components/checker/checker.js
  frontend/components/checker/checker.postcss.css
  frontend/components/checker/checker.scss
  frontend/components/doc-api/doc-api.postcss.css
  frontend/components/doc-api/doc-api.scss
  frontend/components/layout-default/layout-default.js
  frontend/components/layout-default/layout-default.postcss.css
  frontend/components/layout-default/layout-default.scss
  frontend/init/index.postcss.css
  frontend/init/index.scss
  frontend/init/stylesheets/_checkip-base.scss
  frontend/init/stylesheets/highlight.scss
  frontend/init/stylesheets/material.scss
  frontend/packs/application.js
  frontend/packs/application.postcss.css
  frontend/packs/application.scss
  lefthook.yml
  package.json
  postcss.config.js
  rollup.config.js
  stylelint.config.js
  yarn.lock
Due: eslint, stylelint

feat(core): update components for tailwind
  app/helpers/application_helper.rb
  app/helpers/documentations_helper.rb
  app/views/checkers/new.html.erb
  app/views/documentations/api.html.erb
  app/views/layouts/application.html.erb
  config/locales/en.yml
  eslint.config.js
  frontend/components/checker/_checker.html.erb
  frontend/components/checker/checker.js
  frontend/components/checker/checker.scss
  frontend/components/doc-api/_doc-api.html.erb
  frontend/components/doc-api/doc-api.scss
  frontend/components/layout-default/_layout-default.html.erb
  frontend/components/layout-default/layout-default.js
  frontend/components/layout-default/layout-default.scss
  frontend/init/index.postcss.css
  frontend/init/index.scss
  frontend/init/javascript/font-awesome.js
  frontend/init/stylesheets/_checkip-base.scss
  frontend/init/stylesheets/font-awesome.scss
  frontend/init/stylesheets/highlight.postcss.css
  frontend/init/stylesheets/highlight.scss
  frontend/init/stylesheets/material.scss
  package.json
  spec/helpers/application_helper_spec.rb
  stylelint.config.js
  yarn.lock
Due: eslint, stylelint, rubocop

feat(core): replace material-components-web with tailwind (#59)
  Gemfile
  Gemfile.lock
  Procfile.dev
  app/helpers/application_helper.rb
  app/helpers/documentations_helper.rb
  app/views/checkers/new.html.erb
  app/views/documentations/api.html.erb
  app/views/layouts/application.html.erb
  config/locales/en.yml
  eslint.config.js
  frontend/components/checker/_checker.html.erb
  frontend/components/checker/checker.js
  frontend/components/checker/checker.postcss.css
  frontend/components/checker/checker.scss
  frontend/components/doc-api/_doc-api.html.erb
  frontend/components/doc-api/doc-api.postcss.css
  frontend/components/doc-api/doc-api.scss
  frontend/components/layout-default/_layout-default.html.erb
  frontend/components/layout-default/layout-default.js
  frontend/components/layout-default/layout-default.postcss.css
  frontend/components/layout-default/layout-default.scss
  frontend/init/index.postcss.css
  frontend/init/index.scss
  frontend/init/javascript/font-awesome.js
  frontend/init/stylesheets/_checkip-base.scss
  frontend/init/stylesheets/font-awesome.scss
  frontend/init/stylesheets/highlight.postcss.css
  frontend/init/stylesheets/highlight.scss
  frontend/init/stylesheets/material.scss
  frontend/packs/application.js
  frontend/packs/application.postcss.css
  frontend/packs/application.scss
  lefthook.yml
  package.json
  postcss.config.js
  rollup.config.js
  spec/helpers/application_helper_spec.rb
  stylelint.config.js
  yarn.lock
Due: eslint, stylelint, rubocop

chore(i18n): proper license
  config/locales/en.yml
Due: none

feat(core): geolocation source details from environment variable
  app/helpers/application_helper.rb
  config/locales/en.yml
  frontend/components/layout-default/_layout-default.html.erb
  spec/helpers/application_helper_spec.rb
Due: rubocop

chore(package): update dependencies
  Gemfile.lock
  package.json
  yarn.lock
Due: none

chore: update rubocop config
  .rubocop.yml
Due: none

ci: update github actions
  .github/workflows/ci.yml
Due: none

chore(release): v0.19.0
  CHANGELOG.md
  config/initializers/version.rb
  package.json
Due: rubocop

chore(package): update dependencies
  Gemfile
  Gemfile.lock
  config/deploy.rb
  package.json
  yarn.lock
Due: rubocop

build: require Ruby v4.0.6
  .ruby-version
  Gemfile.lock
Due: none

chore(package): upgrade Rails to v8.1
  .gitignore
  Gemfile
  Gemfile.lock
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/content_security_policy.rb
  config/puma/development.rb
  public/400.html
  public/404.html
  public/406-unsupported-browser.html
  public/422.html
  public/500.html
Due: rubocop

chore(package): update dependencies
  Gemfile
  Gemfile.lock
  package.json
  postcss.config.js
  yarn.lock
Due: eslint

build: minify CSS in production
  postcss.config.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  stylelint: any of: *.scss
  rubocop: any of: *.rb
